h1 {
    color: rgb(23, 26, 226);
}


.group {
    border: solid;
    margin: 30px;
}

.group2 {
    border: solid;
    margin: 30px;
}

.abcd{
    border: solid;
    margin: 30px;

}


